* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  text-shadow: 3px 2px rgba(0, 0, 0, 0.146);
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255); */
}

a {
  text-decoration: none;
  color: rgb(45, 1, 80);
}
a:hover {
  color: rgb(255, 255, 255);
}



body {
  background-color: rgb(53, 221, 165);
  padding-bottom: 100px;
}


.header {
  background-color: rgb(53, 221, 165);
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  font-variant: small-caps;
  padding: 100px;
}

.header p {
  font-weight: bold;
}

.header a {
  font-size: 30px;
  font-weight: 900;
}


.message {
  color: aliceblue;
  text-align: center;
  display: block;
  background: rgb(0, 84, 95);
  padding: 10px;
}
.big-message {
  font-size: 20px;
  padding: 20px 0px 20px 0px;
}


.menubar {
  padding-left: 150px;
  padding-right: 150px;
  background-color: rgb(51, 167, 128);
  text-transform: uppercase;
  font-size: 20px;
  
}

.menubar nav ul li.right {
  float: right;
}
.menubar nav a {
  color: rgb(255, 255, 255);
  padding: 2em;
  display: inline-block;
}
.menubar nav ul li {
  display: inline;
}
.menubar nav ul li a:hover {
  background: #455668;
}
@media screen and (max-width: 820px) {
  .menubar nav ul li.right,
  .menubar nav ul li {
    float: none;
    display: list-item;
    list-style: none;
  }
}

.filter-panel, .slide-arrow {
  color: rgb(255, 255, 255);
}
.filter-panel {
  background: rgb(51, 182, 138);
  padding: 20px 20px 10px 20px;
}
.filter-panel ul li {
  display: block;
}
.slide-arrow {
  padding: 0px 20px 0px 20px;
}

.container {
  background-color: rgb(51, 182, 138);
  padding: 50px;
  color: white;
}