<h1>Password recovery</h1>

<p>
    Hello {{ user.username }}, it seems someone requested a password recovery
    for your account registered with the email {{ user.email }}.
</p>

<p>
    If it was you, just click this <a href="http://127.0.0.1:3333/forgotPassword/{{user.id}}/{{token}}">link</a>
</p>