<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{ style('style')}}
    @!section('css')

    <title>Blog</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>Best blog</h1>
            <p>By actionaly <a href="https://www.youtube.com/playlist?list=PL6h7SdeqHzgyfxegDhO8tj27buSIF6Jy2"  target="_blank">me</a></p>
        </div>
        <div class="menubar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>

                    @loggedIn
                    <li class="right"><a href="/user_posts">My posts</a></li>
                    <li class="right"><a href="/logout">Logout</a></li>
                    @else
                    <li class="right"><a href="/login">Login</a></li>
                    <li class="right"><a href="/signup">Signup</a></li>
                    @endloggedIn
                </ul>
            <nav>
        </div>
    </header>


    @if(flashMessage('message'))
        <span id="message" class="message big-message">{{ flashMessage('message') }}</span>
    @endif
    <script>
            function func() {
                document.getElementById("message").style.display = "none";
            }
            setTimeout(func, 8000);
    </script>



    <div class="container">
        @!section('content')
    </div>


    <footer>
        @!section('footer')
    </footer>
</body>
</html>