<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{ style('style')}}
    @!section('css')

    <title>Blog</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>Best blog</h1>
            <p>By actionaly <a href="">me</a></p>
        </div>
        <div class="menubar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>

                    @loggedIn
                    <li class="right"><a href="/user_posts">My posts</a></li>
                    <li class="right"><a href="/logout">Logout</a></li>
                    @else
                    <li class="right"><a href="/login">Login</a></li>
                    <li class="right"><a href="/signup">Signup</a></li>
                    @endloggedIn
                </ul>
            <nav>
        </div>
    </header>
        
    <div class="container">
        @!section('content')
    </div>
    
</body>
</html>